<section>
	<div class="row">
		<div class="col-md-3">
			<h4>
				<a href="#">New contact</a>
			</h4>
			<form action="">
				<div class="form-group">
					<input type="text" placeholder="filter by..." ng-model="filter" class="form-control">
				</div>
			</form>
			<h5 style="margin-top:100px">
				<a href="#">Logout</a>
			</h5>
		</div>
		<div class="col-md-9">
			<table class="table table-striped">
				<theader>
					<tr>
						<td>
							<strong>Name</strong>
						</td>
						<td>
							<strong>E-mail</strong>
						</td>
						<td>
							<strong>Phone</strong>
						</td>
						<td>
							<strong>Birthdate</strong>
						</td>
						<td>
							<strong>State</strong>
						</td>
						<td>
							<strong>Country</strong>
						</td>
					</tr>
				</theader>
				<tbody>
					<tr>
						<td>
							<a href="#/">test</a>
						</td>
						<td>
							<a href="mailto:test">test</a>
						</td>
						<td>
							<a href="tel:1234">test</a>
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/">test</a>
						</td>
						<td>
							<a href="mailto:test">test</a>
						</td>
						<td>
							<a href="tel:1234">test</a>
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/">test</a>
						</td>
						<td>
							<a href="mailto:test">test</a>
						</td>
						<td>
							<a href="tel:1234">test</a>
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
					</tr>
					<tr>
						<td>
							<a href="#/">test</a>
						</td>
						<td>
							<a href="mailto:test">test</a>
						</td>
						<td>
							<a href="tel:1234">test</a>
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
						<td>
							test
						</td>
					</tr>
				</tbody>
			</table>
			<p class="text-center">
				<nav>
					<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					</ul>
				</nav>				
			</p>
		</div>
	</div>
</section>
