<section>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<h4>
				<a href="#/user/0">New contact</a>
			</h4>
			<form action="">
				<div class="form-group">
					<input type="text" placeholder="filter by..." ng-model="data.filter" class="form-control">
				</div>
			</form>
			<h5 style="margin-top:100px">
				<a href="/#/logout">Logout</a>
			</h5>
		</div>
		<div class="col-md-9">
			<table class="table table-striped">
				<theader>
					<tr>
						<td>
							<strong>Name</strong>
						</td>
						<td>
							<strong>E-mail</strong>
						</td>
						<td>
							<strong>Phone</strong>
						</td>
						<td>
							<strong>Location</strong>
						</td>
						<td>
							
						</td>
					</tr>
				</theader>
				<tbody>
					<tr ng-repeat="u in user | filter:data.filter">
						<td>
							<a href="#/user/{{u.id}}">{{u.name}}</a>
						</td>
						<td>
							<a href="mailto:{{u.email}}">{{u.email}}</a>
						</td>
						<td>
							<a href="tel:{{u.phone1}}">{{u.phone1}}</a>
						</td>
						<td>
							{{u.state.name}} {{u.country.name}}
						</td>
						<td>
							<a href="#/user/{{u.id}}" style="margin-right:10px;">
								<i class="fa fa-edit"></i>
							</a>
							<a href="#/user/{{u.id}}">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<p class="text-center">
				<nav>
					<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					</ul>
				</nav>				
			</p>
		</div>
	</div>
</section>
